---
layout: base
---

<div class="home-page">
  <div class="home-content">
    <div class="bio-section">
      {{ content }}
    </div>
    
    {% if page.image %}
    <div class="profile-image">
      <img src="{{ page.image }}" alt="Profile">
    </div>
    {% endif %}
  </div>
</div>

{% assign posts = site.posts | sort: 'date' | reverse %}

{% if posts.size > 0 %}
<div class="page-content">
  <h2>Recent Articles</h2>
  <ul class="posts-list list-unstyled" role="list">
    {% for post in posts limit: 5 %}
    <li class="post-preview">
      <a href="{{ post.url | absolute_url }}">
        <h3 class="post-title">{{ post.title | strip_html }}</h3>
      </a>
      
      {% if post.subtitle %}
        <p class="post-subtitle">{{ post.subtitle | strip_html }}</p>
      {% endif %}
      
      <p class="post-meta">
        {% assign date_format = site.date_format | default: "%B %d, %Y" %}
        {{ post.date | date: date_format }}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
